@import url('https://fonts.googleapis.com/css2?family=Fira+Sans+Condensed:wght@400;500;700&family=Frank+Ruhl+Libre:wght@700;900&family=Rambla:wght@700&display=swap');

/**/

/* global */

html,
body {
    height: 100%;
}

html {
    margin-left: 3%;
    margin-right: 3%;
    margin-bottom: 0%;
    margin-top: 0%;
}

body {
    margin: 0%;
    vertical-align: middle;
}


/* colors */

:root {
    --blue: #c6dde9;
    --red: #f07949;
    --yellow: #f9b131;
    --bright: #999999;
    --brighter: #eaeaea;
    --brightest: #ffffff;
    --dim: #4f585d;
    --dark: #43403f;
    --darker: #282c2f;
    --darkest: #000000;
}


.red {
    color: var(--red);
}

.blue {
    color: var(--blue);
}

.yellow {
    color: var(--yellow);
}

.bright {
    color: var(--bright);
}

.brighter {
    color: var(--brighter);
}

.brightest {
    color: var(--brightest);
}

.dim {
    color: var(--dim);
}

.dark {
    color: var(--dark);
}

.darker {
    color: var(--darker);
}

.darkest {
    color: var(--darkest);
}

.red {
    color: var(--red);
}

.blue {
    color: var(--blue);
}

.yellow {
    color: var(--yellow);
}

.bright {
    color: var(--bright);
}

.brighter {
    color: var(--brighter);
}

.brightest {
    color: var(--brightest);
}

.dim {
    color: var(--dim);
}

.dark {
    color: var(--dark);
}

.darker {
    color: var(--darker);
}

.darkest {
    color: var(--darkest);
}

.red-bg {
    background-color: var(--red);
}

.blue-bg {
    background-color: var(--blue);
}

.yellow-bg {
    background-color: var(--yellow);
}

.bright-bg {
    background-color: var(--bright);
}

.brighter-bg {
    background-color: var(--brighter);
}

.brightest-bg {
    background-color: var(--brightest);
}

.dim-bg {
    background-color: var(--dim);
}

.dark-bg {
    background-color: var(--dark);
}

.darker-bg {
    background-color: var(--darker);
}

.darkest-bg {
    background-color: var(--darkest);
}


/* colors end */

/* fonts */

:root {
    --link: 'Rambla', sans-serif;
    --heading: 'Frank Ruhl Libre', serif;
    --paragraph: 'Fira Sans Condensed', sans-serif;
}

button {
    font-family: var(--link);
}

h1,
h2,
h3,
h4,
h5,
h6 {
    font-family: var(--heading);
}

p {
    font-family: var(--p-font-fam);
}

p.small {
    font-size: small;
}

p.medium {
    font-size: medium;
}

p.large {
    font-size: large;
}

p.larger {
    font-size: larger;
}

/* fonts end*/


link {
    text-decoration: none;

}

nav link {

    color: var(--dim);
}

nav link:hover {
    color: var(--darker);
}

.flex {
    display: flex;
}

/* grid */

/* class begins with "grid-" */
[class^="grid-"] {
    display: grid;
}

.grid-container {}

.grid-container .a {
    grid-area: a;
}

.grid-container .b {
    grid-area: b;
}

.grid-1by1 {
    grid-template-areas:
        "a"
        "b";
    grid-template-columns: repeat(1, 1fr);
    grid-template-rows: repeat(2, 500px);

}

.grid-2by1 {
}

button.join {
    width: 130px;
    height: 40px;
    box-shadow: 0px 2px 0px rgba(0, 0, 0, 0.1);
    border-color: transparent;
    border-radius: 100px;
}

.numbered {}



/*
Calle CSS
*/

* {
    box-sizing: border-box;
}

.grid--subgrid {
    display: grid;
    grid-template-columns: 1fr;
}

.text--center {
    text-align: center;
}

.passepartout {
    padding: 10%;
}

.passepartout--bottom {
    padding: 10% 10% 0% 10%;
}

.content--center {
    display: flex;
    flex-direction: column;
    align-items: center;
}

/*Fonts*/

h2 {
    font-weight: 900;
    font-size: 45px;
    line-height: 100%;
    letter-spacing: -0.02em;
}

h3 {
    font-style: normal;
    font-weight: 900;
    font-size: 32px;
    line-height: 41px;
    letter-spacing: -0.02em;
    margin: 0;
}


article p {
    font-style: normal;
    font-weight: 500;
    font-size: 14px;
    line-height: 24px;
}


/*IMAGES*/
.family__img {
    width: 100%;
    justify-self: end;
}
