@import url('https://fonts.googleapis.com/css2?family=Fira+Sans+Condensed:wght@400;500;700&family=Frank+Ruhl+Libre:wght@700;900&family=Rambla:wght@700&display=swap');

/**/

/* global */

html,
body {
    height: 100%;
    word-break: break-word;
}


/*COMMENT OUT, Carl*/
/* html {
    margin-left: 5%;
    margin-right: 5%;
    margin-bottom: 0%;
    margin-top: 0%;
} */

body {
    margin: 0%;
}


/* colors */

:root {
    --blue: #c6dde9;
    --red: #f07949;
    --yellow: #f9b131;
    --bright: #a9a19e;
    --brighter: #eaeaea;
    --brightest: #ffffff;
    --dim: #4f585d;
    --dark: #43403f;
    --darker: #282c2f;
    --darkest: #000000;
}


.red {
    color: var(--red);
}

.blue {
    color: var(--blue);
}

.yellow {
    color: var(--yellow);
}

.bright {
    color: var(--bright);
}

.brighter {
    color: var(--brighter);
}

.brightest {
    color: var(--brightest);
}

.dim {
    color: var(--dim);
}

.dark {
    color: var(--dark);
}

.darker {
    color: var(--darker);
}

.darkest {
    color: var(--darkest);
}

.red {
    color: var(--red);
}

.blue {
    color: var(--blue);
}

.yellow {
    color: var(--yellow);
}

.bright {
    color: var(--bright);
}

.brighter {
    color: var(--brighter);
}

.brightest {
    color: var(--brightest);
}

.dim {
    color: var(--dim);
}

.dark {
    color: var(--dark);
}

.darker {
    color: var(--darker);
}

.darkest {
    color: var(--darkest);
}

.red-bg {
    background-color: var(--red);
}

.blue-bg {
    background-color: var(--blue);
}

.yellow-bg {
    background-color: var(--yellow);
}

.bright-bg {
    background-color: var(--bright);
}

.brighter-bg {
    background-color: var(--brighter);
}

.brightest-bg {
    background-color: var(--brightest);
}

.dim-bg {
    background-color: var(--dim);
}

.dark-bg {
    background-color: var(--dark);
}

.darker-bg {
    background-color: var(--darker);
}

.darkest-bg {
    background-color: var(--darkest);
}


/* colors end */

/* fonts */

:root {
    --link: 'Rambla', sans-serif;
    --heading: 'Frank Ruhl Libre', serif;
    --paragraph: 'Fira Sans Condensed', sans-serif;
}

button {
    font-family: var(--link);
}

h1 {font-size: xxx-large;}

h1,
h2,
h3,
h4,
h5,
h6 {
    font-family: var(--heading);
}


/*CHANGED VALUE, Carl*/
p {
    font-family: var(--paragraph);
    
}

p.small {
    font-size: small;
}

p.medium {
    font-size: medium;
}

p.large {
    font-size: large;
}

p.larger {
    font-size: larger;
}

/* fonts end*/


link {
    text-decoration: none;

}

nav link {

    color: var(--dim);
}

nav link:hover {
    color: var(--darker);
}

.flex {
    display: flex;
}

.justify-center {
    justify-content: center;
}

.direction-row {
    flex-direction: row;
}


/* grid */

.grid {
    display: grid;
}

.inline-grid {
    display: inline-grid;
}

.avatar-child {
    background-color: var(--blue);
    background-image: url(/img/child.png);
    background-size: 30%;
    background-repeat: no-repeat;
    border-radius: 4px;
    min-width: 236px;
    min-height: 150px;
    background-position: center 40px;
    position: relative;
    bottom: 20px;
}

.grid-container1 {display: grid;
    grid-template-columns: 1fr 1fr;margin-bottom: 100px;}

.avatar-adult {
    background-color: var(--yellow);
    background-image: url(/img/adult.png);
    background-size: 35%;
    background-repeat: no-repeat;
    border-radius: 4px;
    min-width: 236px;
    min-height: 150px;
    background-position: center 30px;
    position: relative;
    bottom: 20px;

}

.avatar-old 

{
    background-color: var(--red);
    background-image: url(/img/old.png);
    background-size: 45%;
    background-repeat: no-repeat;
    border-radius: 4px;
    min-width: 236px;
    min-height: 150px;
    background-position: center 40px;
    position: relative;
    bottom: 20px;

}

.rectangle-big h1 {
    margin-top: 0%;
}

.template-area-1 {
    grid-template-areas:
        "a"
        "b";

    grid-template-rows: repeat(2, auto auto);

}

.card-container {margin-bottom: -175px;
    display: flex;
    justify-content: center;}

 p.about-us{
    text-align: center;
    }

section {padding: 40px;}

.grid-container1{display: grid;
    grid-template-columns: 1fr 1fr;}


.card {
    background-color: var(--brightest);
    box-shadow: 0px 2px 10px rgba(0, 0, 0, 0.1);
    margin-left: 10%;
    width: 256px;
    height: 308px;
    border-radius: 5px;
    text-align: center;
    display: flex;
flex-direction: column;
padding-left: 7px;
padding-right: 7px;
}

.text-container1 {padding-left: 50px;
    padding-right: 50px;width: 415px;}

    .text-container1 h1 {margin-top:0;}

.text-container2 {padding-left: 10%;
    width: 310px;justify-self: center;}

text-container2 p {padding-right: 175px;padding-left: 50px;}

.card h4 {
    margin-bottom: 0;
    margin-top: 0;
    text-align: center;
}

.card p {
    font-style: normal;
    font-weight: bold;
    font-size: 11px;
    line-height: 18px;
    color: rgba(0, 0, 0, 0.4);
}

article.about-us {margin:15vh;}

div.about-us {display: flex;
    flex-direction: column;
    margin-left: 20%;
    margin-right: 20%;text-align: center;}


.more-line-height {line-height: 25px;}

.grid-area-a {
    grid-area: a;
}

.grid-area-b {
    grid-area: b;
}

.grid-area-c {
    grid-area: c;
}

.grid-1by1 {
    grid-template-areas:
        "a"
        "b";
    grid-template-columns: repeat(1, 1fr);
    grid-template-rows: repeat(2, minmax(375px, 501px));

}

button.join {
    width: 130px;
    height: 40px;
    box-shadow: 0px 2px 0px rgba(0, 0, 0, 0.1);
    border-color: transparent;
    border-radius: 100px;
    background-color: var(--brightest);
    color: var(--bright);
    /*ADDED, Carl*/
    text-transform: uppercase;
    margin: 10% 0;
}

button.join:hover {background-color: var(--brighter);}

.numbered {}



/*
Calle CSS
*/

* {
    box-sizing: border-box;
}


/*Fonts*/

h2 {
    font-weight: 900;
    font-size: 45px;
    line-height: 100%;
    letter-spacing: -0.02em;
}

h3 {
    font-style: normal;
    font-weight: 900;
    font-size: 32px;
    line-height: 41px;
    letter-spacing: -0.02em;
    margin: 0;
}

article p {
    font-style: normal;
    font-weight: 500;
    font-size: 14px;
    line-height: 24px;
}

/*
MOBILE
*/

.blue-square {
    min-width: 375px;
    height: 724px;
    padding: 5% 5% 0% 5%;

    background: var(--blue) url('img/family.png') bottom center no-repeat;
    background-size: 342px auto;
}

.red-square, .yellow-square {
    min-width: 375px;
    height: 315px;
}

.passpartou {
    padding: 5%;
}

.red-square.flex, .yellow-square.flex {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

/*
DESKTOP LAYOUT
*/

.topSection {
    grid-template-columns:1fr repeat(2, minmax(375px, 501px)) 1fr;
    grid-template-rows: repeat(2, 272px);
    grid-template-areas: 
    ". bs rs ."
    ". bs ys ."    
    ;
}

.topSection .blue-square {
    grid-area: bs;
}

.topSection .red-square {
    grid-area: rs;
}

.topSection .yellow-square {
    grid-area: ys;
}

@media only screen and (max-width: 375px) {

    .grid-container1 {display: block;}

    section.about-us {height: 245vh;}
    div.about-us,article.about-us {margin: 0;}
    grid-container1 {display: block;}
    div.card-container {flex-flow: column; height: 100%;
        display: flex;
        flex-flow: column;
        width: auto;margin-bottom: 0vh;margin-top: -10vh;}

        .text-container1, .text-container2 {padding: 0;}

        section {padding: 30px;}

        section.personal-finance {height: 285vh;}

        
    .card {margin-top: 20%;margin-left: 8vw;}

    .smartphone-hidden {display: none;}
   }

@media only screen and (min-width: 750px) {


    .grid {
        display :grid;
    }

    .blue-square {
        height: 100%;
    }

    .blue-square {
        padding: 5% 12% 0% 12%;
    }

    .blue-square p {
        width: 32ch;
    }
    
    .blue-square {
        background-position: bottom right;
        background-size: 280px;
    }

    .red-square, .yellow-square {
        height: 100%;
}